<div class="">
    <%= form_for @page, url: page_path do |f| %>
  <div class="">
    <ul class="errors">
      <% if @page %>
        <% @page.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="">
    <%= f.label :sidebar %>
    <%= f.text_area :sidebar, value: @page.sidebar %>
  </div>
    <%= f.submit "Submit" %>
    <% end %>
</div>

<%= tinymce %>
