<div class=" medium-5 large-3 columns">
  <div class="learn-more">
    <a href="#">
      <div class="learn-more-heading white">
        <h4>Learn More</h4>
      </div></a>
      <% if user_signed_in? %>
      <%= link_to "New", new_summary_link_path(summary.id), class: "summary", method: "get" %>
      <% end %>

      <% summary.links.each do |link| %>
      <p>
        <% if user_signed_in? %>
        <%= link_to "✎", edit_summary_link_path(summary.id, link.id), class: "summary", method: "get" %>
        <%= link_to "x", summary_link_path(summary.id, link.id), method: "delete", class: "summary" ,data: {confirm: "Are you sure? (this action can not be undone)"} %>
        <% end %>
        <a href="<%= link.url %>"><%= link.text %></a></p>
        <% end %>
      </div>
    </div>
