<div class="medium-7 columns">
  <% if user_signed_in? %>
    <%= link_to "✎", edit_summary_path(summary.id), class: "summary", method: "get" %>
    <%= link_to "x", summary_path(summary.id), method: "delete", class: "summary" ,data: {confirm: "Are you sure? (this action can not be undone)"} %>
  <% end %>
  <div class="topic-heading">
    <h1><a href="#"><%= summary.heading.capitalize %></a></h1>
    <h3 class="subheading"><%= summary.subheading.capitalize %></h3>
  </div>

  <div class="desktop-links">
    <%= render partial: "learn_more_links", locals: {summary: summary} %>
  </div>

  <div class="topic-summary medium-7 large-9 columns">
    <h5><%= summary.body %></h5>
  </div>

  <div class="mobile-links">
    <%= render partial: "learn_more_links", locals: {summary: summary} %>
  </div>
</div>
