<div class="errors">
  <ul class="errors">
    <% if @summary %>
      <% @summary.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="new-summary medium-6 columns">
    <%= form_for @summary, url: summary_path do |f| %>
      <div>
        <p>
          <%= f.label :heading %>
          <%= f.text_field :heading,  size: "35", value: @summary.heading %>
        </p>
      </div>
      <div>
        <%= f.label :subheading %>
        <%= f.text_field :subheading, value: @summary.subheading %>
      </div>
      <div>
        <%= f.label :body %>
        <%= f.text_field :body, value: @summary.body %>
      </div>
      <div>
        <%= f.label :image_url %>
        <%= f.text_field :image_url, value: @summary.image_url %>
      </div>
      <%= f.submit :update %>
    <% end %>
  </div>
</div>
