  <div class="top-quote-box quote">
    <div class="row">
    <h2>2,000 homeless men & women look to DESC for help every day</h2>
      <div class="medium-8 columns"></div>
        <div class="donate-button medium-2 columns">
          <a href="https://donatenow.networkforgood.org/DESC" target="_blank">Donate Now</a>
        </div>
      </div>
    </div>

  <div class="container">
    <% if user_signed_in? %>
      <a href="/summaries/new"><div class="new-summary-link">New Summary</div></a>
    <% end %>

  <% @summaries.each_with_index do |summary, i| %>
  <div class="summary">
  <% if i%2 == 0 %> <!-- left aling even indexes -->
    <div class="row">
        <%= render partial: 'text_and_links', locals: {summary: summary} %>

        <%= render partial: 'image', locals: {summary: summary} %>
    </div>
   <% else %> <!-- right align odd indexes -->
    <div class="row">
      <div class="right-align">
        <div class="desktop-image">
          <%= render partial: 'image', locals: {summary: summary} %>
        </div>
      </div>
        <%= render partial: 'text_and_links', locals: {summary: summary} %>
        <div class="mobile-image">
          <%= render partial: 'image', locals: {summary: summary} %>
        </div>
    <% end %>
</div>

  <div class="mobile-spacing"></div>

  <% end %>
  </div>
</div>
