<!DOCTYPE html>
<html>
  <head>
    <title>Desc</title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/assets/foundation.css" />
    <script src="/assets/vendor/foundation.min.js"></script>

  </head>
  <body>

    <!-- <a href="/"><img class="cornerlogo" src="/assets/keylogo.png" alt=""></a>
    <a href="/"><img class="cornerlogo-mobile" src="/assets/key3desc.png" alt=""></a> -->

    <div class="page-wrap">

  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
          <%= link_to( image_tag("key3desc", class: "cornerlogo-mobile"), root_path) %>
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
</div>

<div class="top-bar" id="example-menu">
      <%= link_to( image_tag("keylogo", class: "cornerlogo"), root_path) %>

  <div class="top-bar-left">
    <ul  class="dropdown vertical medium-horizontal menu" data-dropdown-menu>

      <!-- <li class="menu-text">SITE TITLE</li> -->
      <li>
        <a href="/pages/2">What We Do</a>
        <ul class="menu submenu vertical">
          <li><a href="/pages/10">Emergency Shelter</a></li>
          <li><a href="/pages/11">Health Services</a></li>
          <li><a href="/pages/12">Permanent Supportive Housing</a></li>
          <li><a href="/pages/13">Employment Services</a></li>
          <li><a href="/pages/14">Crisis Response</a></li>
          <li><a href="/pages/15">Innovation</a></li>
          <li><a href="/pages/16">Housing First</a></li>
          <li><a href="/pages/17">Vulnerability Assessment Tool</a></li>
          <li><a href="/pages/18">Research</a></li>
          <li><a href="/pages/6">Consultation and Technical Assistance</a></li>
        </ul>
      </li>
      <li><a href="/pages/1">About Us</a></li>
      <li><a href="/pages/7">Learn More</a></li>
      <li><a href="/pages/8">Get Involved</a></li>
      <li><a href="/pages/9">Contact Us</a></li>
      <li class="donate" id="donate"><a href="https://donatenow.networkforgood.org/DESC">Donate</a></li>
    </ul>
      </div>
<div class="login">
      <ul  class="">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
        <%= link_to "New User", new_user_registration_path, :class => 'navbar-link'  %>
      <% end %>
    </ul>
</div>


</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>
  </div>
      <div class="footer">
        <p class="footer-text">
Contact Us | Privacy Policy (HIPAA) | Site Map | DESC © 2010 | 515 Third Avenue, Seattle. WA 98104 | 206-464-1570</p>
      </div>
  </body>
</html>
